# Dependencies
node_modules
.pnp
.pnp.*

# Build outputs
.next
out
build
dist

# Cache
.turbo
.cache

# Environment files
.env
.env.*

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Package manager
package-lock.json
yarn.lock
pnpm-lock.yaml

# Other
coverage
.vercel
public
